.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  overflow: hidden;
}

.list_box {
  width: 100%;
  height: 100%;
  display: flex;
  background: url("https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1245907275,3515299625&fm=200&gp=0.jpg") no-repeat;
  background-size: cover;
}

.left {
  width: 1.4rem;
  min-height: 100%;
  overflow-y: auto;
}

.left li {
  line-height: 3;
  font-size: .18rem;
  font-weight: 700;
  color: #CCC;
  margin-top: .1rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 10%;
  text-align: center;
  border-radius: .2rem;
  position: relative;
}

.left li span {
  position: absolute;
  right: .05rem;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  height: .2rem;
  background: #99CCFF;
  border-radius: 50%;
  margin-left: .1rem;
  color: #FFFFCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  overflow-y: auto;
}

.right li {
  float: left;
  width: 30%;
  line-height: 3;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-top: .1rem;
  margin-left: .1rem;
  font-size: .18rem;
  font-weight: 600;
  color: #fff;
  font-weight: 700;
}

.active {
  color: #FFFF00 !important;
}

.active_title {
  color: #FF6666 !important;
}
