.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: #35A6C6;
    a{
        i.icon{
            color: #fff;
        }
    }
    b{
        color: #fff;
        font-size: .2rem;
    }
}
section{
    flex: 1;
    overflow-y:auto; 
}
.list{
    width:100%;
    height: 100%;

}
.list_box{
    width: 100%;
    height: auto;
    padding: 0 .2rem;
    ul{
        li{
            line-height: 3;
         
            span{
                margin-left: .05rem;
            }
  
        }
    }
}
.detail_ul{
    li{
        line-height: 3;
        position: relative;
        border-bottom: 1px solid #ccc;
        span{
            margin-left: .05rem;
        }
        button{
            position: absolute;
            right: .2rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.list_list{
    width: 100%;
    height: auto;
}
.detail{
    width:100%;
    height: 100%;
}
.action{
    background: #abcdef;
}