.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: .5rem;
  padding: 0 .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FF4143;
  color: #fff;
}

.header b {
  font-size: .2rem;
}

.header i.icon {
  color: #fff;
}

.formTop {
  width: 100%;
  height: .6rem;
  padding: 0 .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formTop i.icon {
  color: #FF4454;
}

.formTop label {
  flex: 1;
  padding: 0 .1rem;
  width: 100%;
}

.formTop label input {
  width: 100%;
  height: .4rem;
}

.bodybox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  overflow: hidden;
}

.footer {
  width: 100%;
  height: .6rem;
  padding: 0 .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #949590;
}

.active {
  color: #FF4454 !important;
}

.box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.mack {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}

.exhibition {
  width: 100%;
  height: auto;
}

.exhibition h1 {
  line-height: 3;
  font-size: .24rem;
  padding-left: .2rem;
}

.exhibition img {
  width: 100%;
  height: 100%;
}

.auto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.auto dt {
  flex: 1;
}

.auto dt img {
  width: 100%;
  height: 100%;
}

.auto dd {
  text-align: right;
  padding-right: .2rem;
}

.auto dd h1, .auto dd P {
  line-height: 2;
}

.auto dd h1 {
  font-weight: 700;
  font-size: .22rem;
}
